body {
  display:flex;
  justify-content:center;
  flex-direction:column;
  background:rgb(135, 96, 158);
  background:rgb(143, 106, 165);
}

div {
  display:flex;
  width:40rem;
  flex-wrap:wrap;
  justify-content:center;
  align-self:center;
  align-content:center;
  margin-top:0.5rem;
}

div>p {
  font-size:1.05rem;
  font-family:Trebuchet MS, sans-serif;
  line-height:150%;
  font-weight:500;
  margin-top:1.5rem;
}

button {
  width:10rem;
  height:3rem;
  font-size:1rem;
  font-family:Trebuchet MS, sans-serif;
  line-height:150%;
  font-weight:600;
  border-radius:1.5rem;
  background:rgb(202, 175, 18);
  border:none;
  margin-top:0.5rem;
  transition:0.1ms;
}

button:focus {
  outline:none;
}

button:active {
  outline:none;
 -webkit-transform:translate(.1rem,0.1rem);
  -moz-transform:translate(.1rem,0.1rem);
  transition:0.1ms;
}

button:hover {
  cursor:pointer;
  transition:0.1s;
  filter:brightness(1.1);
}

#list {
  list-style:none;
  width:37rem;
  font-family:Trebuchet MS, sans-serif;
  line-height:150%;
  margin-top:2.5rem; 
}

li:nth-child(even) {
  padding-left:2rem;
  opacity:0.7;
  background:rgb(199, 175, 224);
  /* border-radius:1rem; */
  height:4rem; 
  display:flex;
  align-items:center;
}

li:nth-child(odd) {
  padding-left:2rem;
  opacity:0.7;
  background:rgb(187, 155, 219);
  /* border-radius:1rem; */
  height:4rem;
  display:flex;
  align-items:center;
}

li:nth-child(1) {
  border-radius:1rem 1rem 0 0;
}

li:nth-child(10) {
  border-radius:0rem 0rem 1rem 1rem;
}

li>p:nth-child(2)  {
  position:absolute;
  display:flex;
  -webkit-transform:translate(2.2rem,-1rem);
  -moz-transform:translate(2.2rem,-1rem);
}

li:hover {
  transition:0.5s;
  /* filter:brightness(1.05); */
  background:rgb(211, 184, 238);
  opacity:0.9;
}


